.profile {
  z-index: 3;
  width: 80%;
  min-height: 500px;
  margin-top: 4em;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1em;
  background-color: white;
  padding: 0 1em;
}

.card {
  width: 90%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.card > img {
  width: 130px;
  height: 130px;
  outline: 3px solid yellow;
  border-radius: 50%;
  transform: translateY(-40%);
}

.card > h2 {
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
}

.card > span {
  display: flex;align-items: center;
  color: #707070;
  font-size: .8rem;
  font-weight: 500;
  transform: translateY(-130%);
}

.card > span > svg {
  width: 20px;height: 20px;
  color: #885656;
}

.card > p {
  font-size: 1.2rem;
  color: #707070;
  font-weight: 500;
}

.icons {
  display: flex;
  padding: 1em;
  gap: 3em;
}

.icons > a {
  color: #ffee00;
  font-weight: 600;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  padding: 0.3em 1.1em;
  border-radius: 5px;
  text-shadow: 0 0 2px #000000, 0 0 10px #000000, 0 0 6px #000000;
  box-shadow: 0px 3px 1px -2px #00000033, 0px 2px 2px 0px #00000024,
    0px 1px 5px 0px #0000001f;
  transition: background-color 0.5s, color 0.5s;
}

.icons > a:hover {
  color: #ececec;
  background-color: #ffee00;
}

.icons > a > svg {
  filter: drop-shadow(0px 4px 1px #00000033) drop-shadow(0px 3px 2px #00000024)
    drop-shadow(0px 2px 5px #0000001f);
  transition: filter 0.5s, color 0.5s;
  color: yellow;
  width: 35px;
  height: 35px;
}

.icons > a:hover > svg {
  filter: drop-shadow(4px 0px 1px rgb(0 0 0 / 20%))
    drop-shadow(3px 0px 2px rgb(0 0 0 / 14%))
    drop-shadow(2px 0px 5px rgb(0 0 0 / 12%));
  color: #ececec;
}

.profile > p {
  font-size: 1rem;
  color: #707070;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: .1em;
  width: 60%;
  text-align: center;
  white-space: pre-line;

}

.rocket {
  display: flex;
  gap: 2em;
}
