.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(0);
  animation: blur 1s forwards;
}

@keyframes blur {
  0% {
  background-color: transparent;
  backdrop-filter: blur(0);
  }
  100% {
  background-color: rgba(0, 0, 0, 0.479);
  backdrop-filter: blur(1px);
  }
}

.update {
  border-radius: 10px;
  color: black;
  width: 45%;
  height: 70%;
  background-color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  align-content: center;
  box-shadow: 0px 3px 5px -10px #00000081, 0px 2px 10px 0px #00000094,
    0px 1px 10px 0px #000000b7;
  opacity: 0;
  transform: translateY(-200%);
  animation: render 1s forwards;
}

@keyframes render {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.update > h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 1em;
}

.name {
  width: 90%;
  display: flex;
  justify-content: center;
  position: relative;
}

.name > textarea,
.name > input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 0 1em;
  font-family: var(--fontGlobal);
  font-weight: 400;
  font-size: 1rem;
  background-color: #ffffff;
  outline: 1px solid rgb(37, 37, 37);
  border: none;
}

.name > textarea {
  height: 80px;
  resize: none;
  font-size: 1rem;
  padding: 0.5em;
}

.name > textarea ~ label {
  top: 15%;
  left: 50%;
  /* color: #ffff5b; */
}

.name > label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  white-space: nowrap;
  background-color: #ffffff;
  padding: 0 0.5em;
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--fontGlobal);
  transition: top 0.2s, font-size 0.2s, left 0.2s;
  color: #000000;
}

.name > input:valid ~ label,
.name > input:focus ~ label {
  color: yellow;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
  top: -5%;
  font-size: 0.85rem;
}

.name > textarea:valid ~ label,
.name > textarea:focus ~ label {
  color: yellow;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
  top: -1%;
  font-size: 0.8rem;
}

.part > p {
  white-space: pre-line;
}

.submit {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.submit > button {
  cursor: pointer;
  font-family: var(--fontGlobal);
  white-space: nowrap;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}
