.cont {
  width: 100%;
  /* background-color: #c5c5c5; */
  display: flex;
  padding: 1em 2em;
}

.cont_left {
  flex-basis: 52%;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  gap: 3em;
  background-color: #161616;
  color: #ffffff;
  padding: 1em 2em;
  margin: 1em 0 4em 2em;
}

.cont_left > h1 {
  font-weight: 700;
  font-size: 3.6rem;
}

.cont_left > h2 {
  font-weight: 700;
  font-size: 2rem;
}

.cont_left > p {
  font-size: 1rem;
}

.cont_right {
  flex-basis: 48%;
  display: flex;
  justify-content: center;
}

.cont_right > img {
  width: 100%;
  aspect-ratio: auto 673 / 800;
}
