.container {
  width: 100%;
  min-height: 650px;
  background-image: linear-gradient(to right, #000000d7, #000000d7),
    url("../../../public/backgroundhenry.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container_div {
  width: 100%;
  /* height: 70%; */
  margin: 2em 0;
  display: flex;
  justify-content: center;
}

.form {
  width: 80%;
}

.form_h1div {
  min-height: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  /* background-color: rebeccapurple; */
  align-items: flex-start;
}

.fadeUp {
  animation: fade-up 0.5s ease-in-out forwards;
}

@keyframes fade-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.fadeDown {
  animation: fade-down 0.5s ease-in-out forwards;
}

@keyframes fade-down {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

.form_h1div > h1 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 1;
  animation: render 1s forwards;
}

.form_h1div > h1::after {
  content: "";
  /* bottom: 0; */
  top: 90%;
  left: 52%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 95%;
  height: 11px;
  background-color: #c114c7;
  z-index: -5;
}

.form_h1div > h1 > span {
  font-size: 0.9rem;
  color: rgb(255, 251, 0);
}

.form_divinput {
  /* width: 90%; */
  padding: 2em;
  margin-top: 1em;
  display: flex;
  column-gap: 2em;
  row-gap: 2em;
  flex-flow: row wrap;
}

.mycheckbox {
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: render 1s forwards;
}

@keyframes render {
  100% {
    opacity: 1;
  }
}

.mycheckbox > input {
  display: none;
}
.mycheckbox > input:checked ~ label {
  background-color: #b7d123d0;
  color: #000000;
}

.mycheckbox > label:hover {
  background-color: #b7d123d0;
  color: #000000;
}

.mycheckbox > label {
  cursor: pointer;
  font-size: 1.1rem;
  background-color: #ffe8651a;
  font-weight: 500;
  font-style: italic;
  backdrop-filter: blur(5px);
  outline: 1px solid #fff020;
  border-radius: 20px;
  padding: 0.4em 1.5em;
  transition: background-color 0.2s, color 0.2s;
}

.form_divbutton {
  /* height: 20%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row nowrap;
}

.form_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.form_buttons > button {
  cursor: pointer;
  padding: 0;
  background-color: #c114c7;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.form_buttons > button:disabled:hover {
  cursor: auto;
  background-color: #c114c7;
}

.form_buttons > button:hover {
  background-color: #b23cb6;
}

.form_buttons > button > svg {
  width: 35px;
  height: 35px;
}

.form_buttons > button:nth-of-type(1) {
  border-radius: 8px 0 0 8px;
}

.form_buttons > button:nth-of-type(2) {
  border-radius: 0 8px 8px 0;
}

.submit {
  font-family: var(--fontGlobal);
  cursor: pointer;
  background-color: #6f0f72;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 50px;
  color: #ffffff;
  padding: 0.6em 3em;
  transition: filter 0.3s;
  opacity: 0;
  animation: render 1s forwards;
}

.submit:hover {
  filter: brightness(1.2);
}

.error {
  color: #ff0000;
  margin-top: 1em;
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 700;
  text-shadow: -0.5px 1px 0px rgb(51, 51, 51);
  animation: render 1s forwards;
}
